@import "./_reset";
@import "./_variables";
@import "./_mixins";

.title {
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   text-transform: uppercase;
   color: $dark-gray;
}

.post-section__title {
   margin-bottom: 24px;
}


.post-section__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 25px;
   padding-bottom: 69px;

   @include phones {
      display: block;

   }

}

.post__title {
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
}

.post__comment {
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   margin-bottom: 13px;
   color: $light-gray;
}

.post__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 26px;
   color: $gray;

   @include xlphones {

      display: none;
   }

}

.post__item img {
   @include phones {

      margin-bottom: 11px;
      max-width: 160px;



   }

}



.post__item {
   display: flex;
   align-items: start;
   flex: 1 1 47%;


   img {
      margin-right: 20px;
      width: 100%;
      max-width: 160px;
      height: auto;
      object-fit: cover;

      @include tablets {
         margin-right: 20px;
         width: 100%;
         max-width: 160px;
         height: auto;
         object-fit: cover;
      }


   }

   @include tablets {
      // display: block;
      flex: 1 1 75%;
   }

   @include phones {
      display: block;

   }




}

.shot-section {
   background-color: #F7F7F7;
   padding-top: 47px;
   padding-bottom: 40px;

   @include phones {
      background-color: #fff;
      padding-top: 0px;
   }

}



.shot__desc {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 24px;
}

.subtitle {
   font-weight: 700;
   font-size: 13px;
   line-height: 22px;
   text-transform: uppercase;
   color: $dark-gray;

   @include xlphones {
      display: none;
   }

   @include phones {
      display: none;
   }
}

.shot-section__gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;

   @include tablets {
      gap: 7px;
   }

   @include phones {
      background-color: #fff;
      padding-top: 0px;
   }

}

.gallery__item {

   width: 24%;
   height: auto;

   @include xlphones {
      background-color: #fff;
      padding-top: 0px;
   }


   @include tablets {
      width: 32%;
      height: auto;

      &:last-child {
         display: none;
      }
   }

   @include xlphones {

      width: 100%;

      &:not(:first-child) {
         display: none;
         width: 100%;
      }
   }



}